:root{
   --main-color: #eaeaea;
   --black: #353535;
   --error: #f03d3d;
}

* {
     font-family: Helvetica, Arial, sans-serif;
     background-color: var(--main-color);
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

.error-card{
     background-color: var(--error);
     font-size: 24px;
     padding: 20px;
     color: var(--main-color);
     font-weight: bolder;
     border-radius: 10px;
}

body {
     padding: 60px;
}

input {
     all: unset;
     background-color: var(--main-color);
     border-bottom: 2px solid var(--black);
     font-size: 24px;
     height: 50px;
     width: 100%;
}

input:focus::placeholder{
     opacity: 0;
}

div.error-msg{
     align-items: center;
     display: flex;
     height: 40px;
}

span{
     align-items: center;
     color: var(--error);
     display: flex;
     font-size: 1rem;
     font-style: italic;
     font-weight: bold;
     height: 1rem;
     margin: .2rem;
}

h2 {
     font-size: 1.5rem;
}

h3 {
     font-size: 3rem;
     margin-bottom: 5px;
}

div.center{
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: center;
}

div.center .close{
     cursor: pointer;
     margin-left: auto;
}

.card-grid {
     border-bottom: 10px solid var(--black);
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     width: 90vw;
}

.card {
     align-items: center;
     border-radius: 10px;
     display: center;
     display: flex;
     margin: 24px;
     max-width: 40%;
}

.card img {
     border-radius: 10px;
     filter: brightness(60%);
     max-height: 100%;
     max-width: 100%;
     object-fit: cover;
     transition: transform 0.3s ease-in-out;
}

.card img:hover {
     cursor: pointer;
     filter: brightness(110%);
}